* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 200vh;
  background-color: rgba(203, 203, 203, 0.5);
}
header {
  width: 100%;
  height: 100px;
  max-width: 1920px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: white;
}
header > a {
  width: 160px;
  height: 80px;
  background-color: yellow;
  margin-top: 10px;
}
header a img {
  width: 100%;
  padding: 1%;
}
header nav {
  width: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .login {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}
header .login p {
  width: 5%;
  text-align: center;
  line-height: 40px;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
header nav li {
  width: 15%;
  text-align: center;
  line-height: 40px;
  font-size: 1.1em;
  font-weight: bold;
  overflow: hidden;
}

nav .submenu {
  position: absolute;
  z-index: 5;
  width: 75%;
  height: 0px;
  top: 40px;
  right: 0;
  display: flex;
  transition: all 0.5s;
  overflow: hidden;
  color: black;
  background-color: rgba(196, 226, 223, 0.5);
}
nav ul:hover .submenu {
  height: 280px;
}
.submenu a {
  font-size: 0.8em;
}
.submenu a:hover {
  color: blue;
  font-size: 1.2em;
}

.submenu div {
  display: flex;
  flex-direction: column;
  width: 20%;
}

main {
  width: 100%;
  height: 550px;
  max-width: 1920px;
  margin: auto;
  padding: 1%;
}
.swiper {
  width: 100%;
  height: 500px;
}
.swiper img {
  width: 100%;
}

section {
  width: 100%;
  height: 400px;
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  position: relative;
}
section .alert {
  width: 1000px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  gap: 1%;
  background-color: rgba(203, 203, 203, 0.5);
  border: 5px solid rgb(255, 162, 0);
}
section .alert p {
  flex-grow: 1;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.5%;
  text-align: center;
}
.sub_section {
  width: 16%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.sub_section:nth-of-type(1)::before {
  content: "";
  background: url(../images/img33.jpg) no-repeat center/cover;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_section:nth-of-type(2)::before {
  content: "";
  background: url(../images/img32.jpg) no-repeat center/cover;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_section:nth-of-type(3)::before {
  content: "";
  background: url(../images/img27.jpg) no-repeat center/cover;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_section:nth-of-type(4)::before {
  content: "";
  background: url(../images/img26.jpg) no-repeat center/cover;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_section:nth-of-type(5)::before {
  content: "";
  background: url(../images/img29.jpg) no-repeat center/cover;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_section:nth-of-type(6)::before {
  content: "";
  background: url(../images/img28.jpg) no-repeat center/cover;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_section .days {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.sub_section .main_dishes,
.side_dishes {
  font-size: 1.2em;
  text-align: left;
  padding: 5%;
}
.sub_section ul {
  text-align: center;
}
.sub_section li {
  margin: 2%;
}

article {
  width: 100%;
  height: 400px;
  max-width: 1920px;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.sub_article {
  width: 49%;
  height: 400px;
  /* background-color: coral; */
  position: relative;
  overflow: hidden;
}
.sub_article img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.sub_article p {
  width: 95%;
  font-size: 1.2em;
  color: white;
  z-index: 5;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}
article .out_map {
  width: 49%;
  height: 400px;
}
footer {
  width: 100%;
  height: 200px;
  max-width: 1920px;
  margin: auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(254, 219, 154);
}
footer div {
  width: 100%;
  background-color: rgb(254, 219, 154);
  height: 25%;
}
footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_menu li {
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.footer_content li {
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.copyright {
  text-align: center;
  line-height: 34px;
}
.footer_sns {
}
